#Profile-profilePhoto {
    margin-top: 11.25px;
    height: 150px;
    width: 229.5px;
    border-radius: 5%;
}

#toast-container {
    position: fixed !important;
    top: 20vh !important;
    bottom: 70vh !important;
    left: 35vw !important;
    right: 35vw !important;
    width: 30vw !important;
    height: 10vh !important;
}