#hourlyRate::-webkit-slider-thumb {
    background-color: orange;
}
#hourlyRate::-moz-range-thumb {
    background-color: orange;
}
#hourlyRate::-ms-thumb {
    background-color: orange;
}

/***** These are to edit the thumb and the text inside the thumb *****/
#hourlyRate + .thumb {
    background-color: orange;
}

#toast-container {
    position: fixed !important;
    top: 20vh !important;
    bottom: 70vh !important;
    left: 35vw !important;
    right: 35vw !important;
    width: 30vw !important;
    height: 10vh !important;
}