.TutorSelection-profileImg {
    border-radius: 5%;
    padding: 0 !important;
    height: 100px !important;
    width: 153.33px !important;
}

.TutorSelection-preloader {
    padding: 0 !important;
    margin: auto !important;
    height: 100px !important;
    width: 100px !important;
}