.TutorSelection-profileImg {
    border-radius: 5%;
    padding: 0px !important;
    height: 100px !important;
    width: 153.33px !important;
}

.TutorSelection-imagePreloader {
    padding: 0px !important;
    height: 100px !important;
    width: 153.33px !important;
}