
#githubInput + label:before {
	border-bottom-color: #fc7c25;
	border: 2px solid transparent;
}

.input-field input:focus + label {
	color: #fc7c25 !important;
}

.row .input-field input:focus {
	border-bottom: 2px solid #fc7c25 !important;
	box-shadow: 0 1px 0 0 #fc7c25 !important;
}