<div id="{{modalId}}" class="modal">
  <form (ngSubmit)="onSubmit($event)" #editBasicInfoForm="ngForm">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input
                id="bioInput"
                type="text"
                class="character-count"
                data-length="141" maxlength="141"
                [ngModel]="user.bio"
                name="bio"
              />
              <label for="bioInput">Bio</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="majorInput"
                type="text"
                class="character-count"
                data-length="50" maxlength="50"
                [ngModel]="user.major"
                name="major"
              />
              <label for="majorInput">Major</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="githubInput"
                type="text"
                class="character-count validate"
                data-length="100" maxlength="100"
                [ngModel]="user.github ? user.github.link : ''"
                pattern=".*github.com.*"
                name="github"
              />
              <label for="githubInput">GitHub</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="facebookInput"
                type="text"
                class="character-count validate"
                data-length="100" maxlength="100"
                [ngModel]="user.facebook ? user.facebook.link : ''"
                name="facebook"
                pattern=".*facebook.com.*"
                #fb="ngModel"
              />
              <label for="facebookInput">Facebook</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input
                id="linkedinInput"
                type="text"
                class="character-count validate"
                data-length="100" maxlength="100"
                [ngModel]="user.linkedin ? user.linkedin.link : ''"
                pattern=".*linkedin.com.*"
                name="linkedin"
              />
              <label for="linkedinInput">LinkedIn</label>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        id="saveBioButton"
        class="waves-effect waves-green btn-flat"
        type="submit"
      >Save</button>
    </div>
  </form>
</div>
