.iris {
    background: url("../images/backgroundshutter.png") no-repeat fixed;
}

@media only screen and (min-width: 992px) {
    #toast-container {
        position: fixed !important;
        top: 20vh !important;
        bottom: 70vh !important;
        left: 35vw !important;
        right: 35vw !important;
        width: 30vw !important;
        height: 10vh !important;
    }
}