<div class="row">
  <div class="col s4 m3 offset-s3 offset-m3">
    <div class="input-field col s12">
      <select
        id="sortOn"
        name="sortOn"
        materialize="material_select"
        [materializeSelectOptions]="sortOnOptions"
        [(ngModel)]="selectedSortOn"
        (ngModelChange)="onChangeSortOn($event)"
      >
        <option *ngFor="let sortOption of sortOnOptions" [value]="sortOption">{{sortOption.toString()}}</option>
      </select>
      <label for="sortOn">Sort On</label>
    </div>
  </div>

  <div class="col s3 offset-s2 offset-m3">
    <div class="input-field col s12">
      <select
        id="sortBy"
        materialize="material_select"
        [(ngModel)]="selectedSortBy"
        [materializeSelectOptions]="sortByOptions"
        (ngModelChange)="onChangeSortBy($event)"
        name="sortBy"
      >
        <option *ngFor="let sortByOption of sortByOptions" [value]="sortByOption">{{sortByOption.toString()}}</option>
      </select>
      <label for="sortBy">Sort By</label>
    </div>
  </div>
</div>
