<!-- BEGIN LOGO/SLOGAN SECTION -->
<div id="logoSection" class="row">
  <div class="col s12">
    <div class="flow-text">
      <h1>NextdoorTutor</h1>
      <h3>Save time. Learn more. Start now.</h3>
    </div>
  </div>
</div>
<!-- END LOGO/SLOGAN -->

<!-- BEGIN CALL TO ACTION SECTION -->
<div id="actionSection" class="row">
  <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l2">
    <div class="card small welcome-card">
      <div class="card-content">
        <span class="card-title">Get Started Today</span>
        <p class="cardBody flow-text">No need to create an account, simply log in with your Lehigh email.</p>
      </div>
      <div class="card-action">
        <button pageScroll [pageScrollDuration]="500" [pageScrollOffset]="10" href="#becomeTutor"
                class="btn cursorPointer nt-orange-background white-text" type="button">More Info
        </button>
      </div>
    </div>
  </div>

  <div class="col s10 m8 l4 offset-s1 offset-m2">
    <div class="card small welcome-card">
      <div class="card-content">
        <span class="card-title">Feeling Generous?</span>
        <p class="cardBody flow-text">Donate to help fund the growth, expansion and improvement of NextdoorTutor.</p>
      </div>
      <div class="card-action">
        <div id="donateWithCryptoDiv">
          <a class="btn nt-orange-background white-text donate-with-crypto"
             href="https://commerce.coinbase.com/checkout/285f5022-a988-46d4-8a99-4994286387cf"
             target="_blank">
            Donate with Crypto
          </a>
          <script src="https://commerce.coinbase.com/v1/checkout.js">
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CALL TO ACTION SECTION -->


<!-- BEGIN WHO WE ARE SECTION -->

<div id="whoWeAreCardPanel" class="row card-panel white">
  <h2 class="center">Who We Are</h2>
  <div class="col s5 offset-s1">
    <p id="whoWeAreParagraph" class="center flow-text">
      <strong>A service for Lehigh University students that helps connect tutors with tutees taking courses in the
        Computer Science and Engineering department.
        <br><br><b>Scroll down to learn more about how to find/become a tutor!</b>
      </strong>
    </p>
  </div>

  <div class="col s5 offset-s1">
        <span class="flow-text">
          <img class="keep-calm" src="assets/images/keep_calm_a.png" alt="keep_calm">
        </span>
  </div>
</div>
<!-- END WHO WE ARE SECTION -->

<!-- BEGIN BECOMING A TUTOR SECTION -->
<a id="becomeTutor"></a>
<div id="becomeTutorContainer" class="container">
  <h2 id="becomeTutorHeader">Becoming a Tutor</h2>
  <a id="becomeTutor2"></a>
  <div class="row center-align">
    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            60 Seconds
          </span>
          <i class="material-icons">alarm_on</i>
          <p class="becomeTutorParagraph">That's all it takes to fill out our form to become a tutor.</p>

        </div>
      </div>
    </div>

    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            Receive an Email
          </span>
          <i class="material-icons">email</i>
          <p class="becomeTutorParagraph">When a student is interested, you'll get an email to set up a time.</p>
        </div>
      </div>
    </div>

    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            100% Profit
          </span>
          <i class="material-icons">monetization_on</i>
          <p class="becomeTutorParagraph">You get to keep all of the money you make.</p>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- END BECOME A TUTOR SECTION -->

<!-- BEGIN FINDING A TUTOR SECTION -->
<div id="findTutorContainer" class="container">
  <h2 id="findTutorHeader" class="right-align">Finding a Tutor</h2>

  <div class="row center-align">
    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            See Available Tutors
          </span>
          <i class="material-icons">people</i>
          <p class="becomeTutorParagraph">View all tutors for a course before you select one.</p>
        </div>
      </div>
    </div>

    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            Choose What Matters
          </span>
          <i class="material-icons">assignment_turned_in</i>
          <p class="becomeTutorParagraph">Select your tutor based on criteria that are most important to you.</p>
        </div>
      </div>
    </div>

    <div class="col s10 m4 offset-s1">
      <div class="card white small become-tutor-card">
        <div class="card-content">
          <span class="card-title">
            Just a Click Away
          </span>
          <i class="material-icons">question_answer</i>
          <p class="becomeTutorParagraph">Once you've found a tutor, all you have to do is click a button to get in
            touch.</p>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- END FINDING TUTOR SECTION -->

<!-- MEET THE TEAM SECTION -->
<div id="teamCardPanel" class="row card-panel">
  <h2 class="center white-text">Meet the Team</h2>
  <div class="col s4">
    <img class="team center-block" src="assets/images/jordan-cutler.png">
    <p class="team1 flow-text">Jordan Cutler<br><span class="role">Founder</span></p>
  </div>

  <div class="col s4">
    <img class="team center-block" src="assets/images/steph-beddow.jpg">
    <p class="team1 flow-text">Stephanie Beddow<br><span class="role">Lead Designer</span></p>
  </div>

  <div class="col s4">
    <img class="team center-block" src="assets/images/rob-smith.png">
    <p class="team1 flow-text">Robert Smith<br><span class="role">Business Operations Lead</span></p>
  </div>

  <div class="row">
    <div class="col s4 offset-s2">
      <img class="team center-block" src="assets/images/jordan-alam.png">
      <p class="team1 flow-text">Jordan Alam<br><span class="role">Back-End Engineer</span></p>
    </div>

    <div class="col s4">
      <img class="team center-block" src="assets/images/kyle-berman.png">
      <p class="team1 flow-text">Kyle Berman<br><span class="role">Front-End Engineer</span></p>
    </div>
  </div>

  <p id="teamDescription" class="center">
    We are a group of Lehigh University students helping to
    connect our peers with tutoring services in the Computer Science and Engineering department at Lehigh.
  </p>
</div>
<!-- /MEET THE TEAM SECTION -->


<!-- BEGIN FOOTER -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4>NextdoorTutor</h4>
        <p id="footerSlogan" class="grey-text text-lighten-4">Save time. Learn more. Start now.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4>Links</h4>
        <ul>
          <li (click)="openContactModalSubject.next()">
            <a class="footer cursorPointer"><b>Contact Us</b></a>
          </li>
          <li (click)="openTermsAndConditionsModalSubject.next()">
            <a class="footer cursorPointer"><b>Terms &amp; Conditions</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<app-contact-us-modal [openModalSubject]="openContactModalSubject"></app-contact-us-modal>
<app-terms-and-conditions-modal
  [openModalSubject]="openTermsAndConditionsModalSubject"></app-terms-and-conditions-modal>
