@import 'variables';

#githubInput + label:before {
  border: 2px solid transparent;
}

.input-field input:focus + label {
  color: $ntOrange !important;
}

.row .input-field input:focus {
  border-bottom: 2px solid $ntOrange !important;
  box-shadow: 0 1px 0 0 $ntOrange !important;
}
