<div id="termsAndConditionsModal" class="modal" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>NextdoorTutor Terms of Service</h4>
    <b>Last updated:</b>
    <br>
    January 20th, 2018
    <br>
    <p>
      Please read these Terms and Conditions ("Terms", "Terms and Conditions", “Terms of Service”) carefully before
      using the https://www.nextdoortutor.org/ website (the "Service", “website”) operated by NextdoorTutor ("us", "we",
      or "our").
    </p>

    <br>

    <b>What you are accepting:</b>
    <br>
    <p>
      Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These
      Terms apply to all visitors, users and others who access or use the Service.
    </p>
    <p>
      By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the Terms
      then you may not access the Service.
    </p>

    <br>

    <b>What we are not involved in:</b>
    <br>
    <p>
      We are <b>not</b> responsible for anything that happens outside of our online service, as it is defined in these
      Terms of Service, as well as through normal use. These activities can be, but are not limited to, tutor-tutee
      meetings, tutor-tutee payments, tutor-tutee guarantees, and/or tutee grades.
    </p>

    <br>

    <b>Our Intellectual Property:</b>
    <br>
    <p>
      No use of NextdoorTutor’s logo or other artwork will be allowed for linking absent a trademark license agreement.
      You may not create frames around our web pages or use other techniques that alter in any way the visual
      presentation or appearance of our website.
    </p>
    <p>
      Unless otherwise stated, NextdoorTutor and/or its licensors own the intellectual property rights for all material
      on NextdoorTutor. All intellectual property rights are reserved. You may view and/or print pages from
      https://www.nextdoortutor.org for your own personal use subject to restrictions set in these Terms of Service
    </p>

    <b>You must not:</b>
    <ul>
      <li>
        Republish material from https://www.nextdoortutor.org
      </li>
      <li>
        Sell, rent or sub-license material from https://www.nextdoortutor.org
      </li>
      <li>
        Reproduce, duplicate or copy material from https://www.nextdoortutor.org
      </li>
      <li>
        Redistribute content from NextdoorTutor (unless content is specifically made for redistribution).
      </li>
    </ul>

    <br>

    <b>Termination of your account:</b>
    <br>
    <p>
      We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
      whatsoever, including without limitation if you breach the Terms.
    </p>
    <p>
      All provisions of the Terms which by their nature should survive termination shall survive termination, including,
      without limitation, ownership provisions, indemnity and limitations of liability.
    </p>
    <p>
      We may terminate or suspend your account immediately, without prior notice or liability, for any reason
      whatsoever, including without limitation if you breach the Terms. Reasons may include:
    </p>
    <ul>
      <li>&emsp;Misuse of the reviews feature.</li>
      <li>&emsp;Hacking into the site in any way.</li>
      <li>&emsp;Creating any type of dishonest content.</li>
    </ul>

    <p>
      Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you
      may simply discontinue using the Service or by
      contacting rrs219@lehigh.edu or jordan.cpa23@gmail.com with an email subject of “NextdoorTutuor Account Delete
      Request” using your Lehigh email address.
    </p>
    <p>
      All provisions of the Terms which by their nature should survive termination shall survive termination, including,
      without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
    </p>

    <br>

    <b>The content that you create:</b>
    <br>
    <p>
      After having activated your account with us, you must provide us information that is accurate, complete, and
      current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate
      termination of your account on our Service.
    </p>
    <p>
      You are responsible for safeguarding the password that you use to access the Service and for any activities or
      actions under your password, whether your password is with our Service or a third-party service.
    </p>
    <p>
      You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of
      any breach of security or unauthorized use of your account.
    </p>
    <p>
      Certain parts of this website offer the opportunity for users to post reviews and grades, (further referred to as
      “comments”. NextdoorTutor does not screen, edit, publish or review these comments prior to their appearance on the
      website and comments do not reflect the views or opinions of NextdoorTutor, its agents or affiliates. Comments
      reflect the view and opinion of the person who posts such view or opinion. To the extent permitted by applicable
      laws, NextdoorTutor shall not be responsible or liable for the comments or for any loss cost, liability, damages
      or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the comments
      on this website. NextdoorTutor reserves the right to monitor all comments and to remove any comments which it
      considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of
      Service.
    </p>
    <b>You warrant and represent that:</b>
    <ul>
      <li>
        You are entitled to post the Comments on our website and have all necessary licenses and consents to do so.
      </li>
      <li>
        The Comments do not infringe any intellectual property right, including without limitation copyright, patent or
        trademark, or other proprietary right of any third party
      </li>
      <li>
        The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or
        material which is an invasion of privacy
      </li>
      <li>
        The Comments will not be used to solicit or promote business or custom or present commercial activities or
        unlawful activity.
      </li>
    </ul>
    <p>
      You hereby grant to NextdoorTutor a non-exclusive royalty-free license to use, reproduce, edit and authorize
      others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
    </p>

    <br>

    <b>Using our domain and/or name:</b>
    <p>
      The following organizations may link to our Web site without prior written approval: Government Agencies, Search
      Engines, and News Organizations.
    </p>
    <p>
      These organizations may link to our home page, to publications or to other Web site information so long as the
      link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the
      linking party and its products or services; and (c) fits within the context of the linking party's site.
    </p>
    <p>
      We will approve link requests from other organizations if we determine that: (a) the link would not reflect
      unfavorably on us or our accredited businesses (for example, trade associations or other organizations
      representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to
      link); (b) the organization does not have an unsatisfactory record with us; (c) the benefit to us from the
      visibility associated with the hyperlink outweighs the absence of ; and (d) where the link is in the context of
      general resource information or is otherwise consistent with editorial content in a newsletter or similar product
      furthering the mission of the organization.
    </p>
    <p>
      If you are interested in linking to our website, you must notify us by sending an e-mail to rrs219@lehigh.edu or
      jordan.cpa23@gmail.com with the subject header of “NextdoorTutuor Link Request”. Please include your name, your
      organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your
      site, a list of any URLs from which you intend to link to our website, and a list of the URL(s) on our site to
      which you would like to link. Allow 2-3 weeks for a response.
    </p>
    <p>
      We reserve the right at any time and in its sole discretion to request that you remove all links or any particular
      link to our website. You agree to immediately remove all links to our Web site upon such request. We also reserve
      the right to amend these Terms of Service and its linking policy at any time. By continuing to link to our
      website, you agree to be bound to and abide by these linking Terms of Service.
    </p>

    <br>

    <b>Infringing on someone else's copyright:</b>
    <br>
    <p>
      NextdoorTutuor responds to copyright notifications submitted under the Digital Millennium Copyright Act (“DMCA”).
      Section 512 of the DMCA outlines the statutory requirements necessary for formally reporting copyright
      infringement, as well as providing instructions on how an affected party can appeal a removal by submitting a
      complaint counter-notice.
    </p>
    <p>
      NextdoorTutuor will respond to reports of alleged copyright infringement, such as allegations concerning the
      unauthorized use of a copyrighted image as a profile photo. Note that not all unauthorized uses of copyrighted
      materials are infringements.
    </p>

    <br>

    <b>Disclaimer, and limitations of liability:</b>
    <p>The Services are Available "AS-IS"</p>
    <p>
      Your access to and use of the Services or any Content are at your own risk. You understand and agree that the
      Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, to the
      maximum extent permitted under applicable law, NextdoorTutor disclaims all warranties and conditions, whether
      express or implied, of merchantability, fitness for a particular purpose, or non-infringement. NextdoorTutuor
      makes no warranty or representation and disclaim all responsibility and liability for: (i) the completeness,
      accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your
      computer system, loss of data, or other harm that results from your access to or use of the Services or any
      Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications
      maintained by the Services; and (iv) whether the Services will meet your requirements or be available on an
      uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from
      NextdoorTutuor or through the Services, will create any warranty or representation not expressly made herein.
    </p>
    <p>
      TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, NEXTDOORTUTOR SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL,
      SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR
      INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR
      USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES,
      INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii)
      ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR
      CONTENT. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY,
      CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT NEXTDOORTUTOR HAS BEEN INFORMED OF
      THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL
      PURPOSE.
    </p>

    <br>

    <b>Cookies</b>
    <br>
    <p>
      We employ the use of cookies. By using NextdoorTutor's website you consent to the use of cookies in accordance
      with NextdoorTutor’s privacy policy .Most of the modern day interactive websites use cookies to enable us to
      retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of
      this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use
      cookies.
    </p>

    <br>

    <b>Changes to the Terms &amp; Conditions:</b>
    <br>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
      material we will try to provide at least 30 days notice prior to any new Terms taking effect. What constitutes a
      material change will be determined at our sole discretion.
    </p>
    <p>
      By continuing to access or use our Service after those revisions become effective, you agree to be bound by the
      revised Terms. If you do not agree to the new Terms, please stop using the service.
    </p>

    <br>

    <b>Links to other websites:</b>
    <br>
    <p>
      Our Service may contain links to third-party web sites or services that are not owned or controlled by
      NextdoorTutor.
    </p>
    <p>
      NextdoorTutor has no control over, and assumes no responsibility for, the content, privacy policies, or practices
      of any third party websites or services. You further acknowledge and agree that NextdoorTutor shall not be
      responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
      connection with use of or reliance on any such content, goods or services available on or through any such
      websites or services.
    </p>

    <br>

    <b>Governing law:</b>
    <br>
    <p>
      These Terms shall be governed and construed in accordance with the laws of Pennsylvania, United States, without
      regard to its conflict of law provisions.
    </p>
    <p>
      Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If
      any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these
      Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and
      supersede and replace any prior agreements we might have between us regarding the Service.
    </p>

    <br>

    <b>Contact us:</b>
    <p>
      If you have any questions about these Terms, please contact us at rrs219@lehigh.edu or jordan.cpa23@gmail.com with
      the a subject header of “NextdoorTutor Terms of Service Question”.
    </p>
  </div>
</div>
