<div id="Login-body" class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card white hoverable">
        <div class="card-content">
          <div class="card-image">
            <img class="center center-align" id="Login-Full-Logo"
                 src="../../assets/images/NTLogo.png" alt="Nextdoor Tutor Logo"/>
          </div>
          <span class="card-title"></span>
          <h1 id="Login-logoText" class="card-title orange-text center">NextdoorTutor</h1>
          <h6 class="card-title orange-text center"><b>Beta</b></h6>
          <div id="Login-tagLine" class="center">Save time. Learn more. Start now.</div>
          <!--<button type="button" id="signInButton" class="btn orange" #signInButton>Sign in with Google</button>-->
          <div class="g-signin2" id="googleSignIn" #signInButton></div>
        </div>
        <div class="card-action">
          <div class="row valign-wrapper">
            <div class="col s6 center">
              <a href="https://xkcd.com/501/" class="s4 center-align">Terms &amp; Conditions</a>
            </div>
            <div class="col s6 center">
              <a href="https://www.google.com/search?q=cute+cat+picture&ie=utf-8&oe=utf-8" class="s4 center-align">
                Cute Cat Picture</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
