<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <!-- BEGIN TOP NAVBAR -->

      <a routerLink="/home" class="brand-logo">
        <img id="logoImage" class="responsive-img" src="assets/images/NTLogo.png" alt="NextdoorTutor">
      </a>

      <ul [hidden]="user" class="right"  id="icon">
        <li>
          <a class="header" #signInButtonTop>
            <img class="google-icon" src="assets/images/googlelogo.png" alt="Google"/>&emsp;Login
          </a>
        </li>
      </ul>

      <ul [hidden]="!user" class="right hide-on-med-and-down">
        <ng-container *ngIf="user">
          <li><a class="header" routerLink="/findtutor">Find a Tutor</a></li>
          <li><a class="header" routerLink="/tutorapplication">Tutor a Course</a></li>
          <li><a class="header" (click)="onSubmitBugClick()">Submit Bug</a></li>
          <li>
            <a class="header" routerLink="/profile">
              <i class="small material-icons left black-text">account_circle</i>{{user.name}}
            </a>
          </li>
          <li><a class="header" (click)="onSignOutClick()">Sign Out</a></li>
        </ng-container>

      </ul>
      <!-- END TOP NAVBAR -->

      <!-- BEGIN SLIDE OUT NAVBAR -->
      <ul [hidden]="!user" id="slide-out" class="side-nav">
        <ng-container *ngIf="user">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="assets/images/office.jpg">
              </div>
              <a><span class="white-text name">{{user.name}}</span></a>
            </div>
          </li>
          <li><a class="header" routerLink="/home">Home</a></li>
          <li><a class="header" routerLink="/findtutor">Find a Tutor</a></li>
          <li><a class="header" routerLink="/tutorapplication">Tutor a Course</a></li>
          <li><a class="header" (click)="onSubmitBugClick()">Submit Bug</a></li>
          <li><a class="header" routerLink="/profile">Profile</a></li>
          <li><a class="header" routerLink="/home" (click)="onSignOutClick()">Sign Out</a></li>
        </ng-container>
      </ul>
      <!-- END SLIDE OUT NAVBAR -->

      <a
        [hidden]="!user"
        data-activates="slide-out"
        href="#"
        materialize="sideNav"
        [materializeParams]="[{closeOnClick: true}]"
        [materializeActions]="sideNavActions"
        class="button-collapse hide-on-large-only"
      >
        <i class="material-icons icon-gray">menu</i>
      </a>
    </div>
  </nav>
</div>

<app-submit-bug-modal [modalId]="submitBugModalId" [modalActions]="submitBugModalActions"></app-submit-bug-modal>
