<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card white z-depth-3">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s2">
              <span class="black-text">Sort by: </span>
            </div>
            <div class="col s5">
              <form action="#">
                <p>
                  <input class="with-gap" name="group1" type="radio" id="hourlyRateSorterRadio" (click)="onSortByHourlyRateClick()" checked />
                  <label for="hourlyRateSorterRadio">Hourly Rate</label>
                </p>
                <p>
                  <input class="with-gap" name="group1" type="radio" id="gradeSorterRadio" (click)="onSortByGradeClick()" />
                  <label for="gradeSorterRadio">Grade</label>
                </p>
              </form>
            </div>

            <div class="col s5">
              <form action="#">
                <p>
                  <input class="with-gap" name="group2" type="radio" id="ascendingSorterRadio" (click)="sortAscending()" checked />
                  <label for="ascendingSorterRadio">Ascending</label>
                </p>
                <p>
                  <input class="with-gap" name="group2" type="radio" id="descendingSorterRadio" (click)="sortDescending()" />
                  <label for="descendingSorterRadio">Descending</label>
                </p>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="collapsible z-depth-3" data-collapsible="expandable">
    <li *ngFor="let tutor of tutors">
      <div class="row collapsible-header valign-wrapper">
        <img
          class="profileImg col s2 z-depth-2"
          appHttpImage [userIdUnderProfilePhoto]="tutor.user.userId" [askerId]="currentUserId"
          alt="No profile picture"
        />
        <div class="col s5">
          <span>{{tutor.user.name}}</span>
        </div>
        <div class="col s2">
          <span>{{tutor.grade}} / ${{tutor.hourlyRate}}</span>
        </div>
        <div class="col s3">
          <button
            class="btn TutorSelection-bookTutorButton orange"
            (click)="onBookTutor($event, tutor.user.email, tutor.courseNumber, tutor.user.name)">
            Email Tutor <i class="material-icons right">contact_mail</i>
          </button>
        </div>
      </div>
      <div id="tutorInfo" class="collapsible-body">
        <div *ngIf="tutor.hasTakenCourse && tutor.grade && tutor.instructor && tutor.semesterTaken; else notTaken">
          <span><b>Grade:</b> {{tutor.grade}}<br></span>
          <span><b>Instructor:</b> {{tutor.instructor}}<br></span>
          <span><b>Semester Taken:</b> {{tutor.semesterTaken.term}} {{tutor.semesterTaken.year}}<br></span>
        </div>
        <ng-template #notTaken>
          <span><b>tutor person has not taken tutor course</b><br></span>
        </ng-template>
        <span *ngIf="tutor.pastExperience"><b>Past Experience:</b> {{tutor.pastExperience}}<br></span>
        <span *ngIf="tutor.notes"><b>Other Notes:</b> {{tutor.notes}}<br></span>
        <span *ngIf="tutor.user.major"><b>Major: </b> {{tutor.user.major}}<br></span>
        <span *ngIf="tutor.user.bio"><b>Bio: </b> {{tutor.user.bio}}<br></span>
        <span *ngIf="tutor.hourlyRate"><b>Hourly Wage:</b> ${{tutor.hourlyRate}}<br></span>
      </div>
    </li>

  </ul>
</div>

