td, th {
  padding: 2px 0px 0px 0px;
  text-align: left;
}

td {
  padding-left: 1%;
}

.profileImg {
  border-radius: 5%;
  padding: 0 !important;
  height: 100px !important;
  width: 100px !important;
  border: 2px solid white !important;
}

.preloader {
  padding: 0 !important;
  margin: auto !important;
  height: 100px !important;
  width: 100px !important;
}

#tutorInfo {
  text-align: left;
}

.tutor-name {
  padding-left: 1%;
}

.container {
  width: 100%;
}

.overlay-container {
  position: relative;
  display: inline-block;
}

.overlay, .inner-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: #fc7c25;
  border-radius: 5%;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inner-icon:hover i {
  opacity: 0;
}

.inner-icon i {
  position: absolute;
  bottom: 2px;
  right: -15px;
  opacity: 1;
  color: #fc7c25;
  /*background-color: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;*/
  font-size: 1.8rem;
}

@media only screen and (max-width: 992px) {
  .profileImg {
    height: 75px !important;
    width: 75px !important;
  }

  .container {
    width: 100%;
  }
}

/* Make all descriptors such as Hourly Rate our orange color */
b {
  color: #fc7c25;
}

.align-table {
  padding-right: 77px;
}

.column {
  float: left;
}

.left {
  width: 17%;
  padding-left: 2%;
}

.right {
  width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


