<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card white z-depth-3">
        <div class="card-content black-text">

          <app-sort-bar [summaries]="summaries"></app-sort-bar>

          <ul class="z-depth-3" materialize="collapsible" [materializeParams]="[{accordion: false}]" data-collapsible="expandable">
            <li *ngFor="let summary of summaries">
              <div class="row collapsible-header valign-wrapper">

                <div class="overlay-container" (click)="onImageClick($event, summary.tutor)">
                  <!-- TUTOR IMAGE -->
                  <img
                    class="profileImg media__image col s2 z-depth-2"
                    appHttpImage [userIdUnderProfilePhoto]="summary.tutor.user.userId" [askerId]="currentUser.userId"
                    alt="No profile picture"/>
                  <div class="inner-icon">
                    <i class="material-icons">person</i>
                  </div>
                  <div class="overlay cursorPointer">
                    <div class="overlay-text">View Profile</div>
                  </div>
                </div>

                <!-- TUTOR NAME -->
                <div class="col s1 tutor-name">
                  <p>{{summary.tutor.user.name}}</p>
                </div>

                <!-- TUTOR GRADES -->
                <div class="col s2">
                  <table>
                    <tr>
                      <th><b>Avg. Course Review</b></th>
                      <td>:</td>
                      <td
                        *ngIf="summary?.courseReviewSummary?.averageOfAllScoresAmongAllReviews; else noCourseAverage">
                        {{summary.courseReviewSummary.averageOfAllScoresAmongAllReviews}}
                      </td>
                      <ng-template #noCourseAverage>
                        <td>N/A</td>
                      </ng-template>
                    </tr>

                    <tr>
                      <ng-container *ngIf="summary.tutor.grade">
                        <td><b>Course Grade</b></td>
                        <td>:</td>
                        <td>
                          {{summary.tutor.grade}}
                        </td>
                      </ng-container>

                      <td *ngIf="!summary.tutor.grade" colspan="3">Hasn't Taken Course</td>
                    </tr>
                  </table>
                </div>

                <!-- TUTOR RATES -->
                <div class="col s1 right">
                  <span class="hide-on-small-only" *ngIf="summary.tutor.hourlyRate">
                    ${{summary.tutor.hourlyRate}}
                  </span>
                  <span class="hide-on-med-and-up" *ngIf="summary.tutor.grade && summary.tutor.hourlyRate">
                    {{summary.tutor.grade}} / ${{summary.tutor.hourlyRate}}
                  </span>
                  <span class="hide-on-med-and-up" *ngIf="!summary.tutor.grade && summary.tutor.hourlyRate">Not taken / ${{summary.tutor.hourlyRate}}</span>
                </div>

                <div class="col s1 hide-on-small-only">
                  <div *ngIf="summary.tutor.instructorNameWhoEndorsed">
                    <div class="row">
                      <div class="col s12">
                        <span class="fa fa-stack">
                          <i class="fa fa-certificate fa-stack-2x"></i>
                          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                        </span>
                      </div>
                      <div class="col s12">
                        <span>{{summary.tutor.instructorNameWhoEndorsed | professor}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- BUTTONS -->
                <div class="col s3">
                  <!-- Only displayed for normal users -->
                  <button
                    class="btn nt-orange-background"
                    (click)="onBookTutor($event, summary.tutor.user.email, summary.tutor.course.courseNumber, summary.tutor.user.name)"
                    *ngIf="!currentUser.isInstructor">
                    Email<i class="material-icons right">contact_mail</i>
                  </button>

                  <!-- Only displayed if tutor has not already been endorsed and the current user is an instructor -->
                  <button
                    class="btn nt-orange-background"
                    type="button"
                    (click)="instructorEndorseTutor($event, summary.tutor.user.userId, summary.tutor.course.courseNumber, tutor, currentUser.name)"
                    *ngIf="!summary.tutor.instructorNameWhoEndorsed && currentUser.isInstructor">
                    Endorse
                  </button>

                  <!-- Only displayed if the person who endorsed the tutor is the current user and the current user is an instructor -->
                  <button
                    class="btn two-lined-button nt-orange-background"
                    (click)="removeInstructorEndorsement($event, summary.tutor.user.userId, summary.tutor.course.courseNumber, tutor, currentUser.name)"
                    *ngIf="summary.tutor.instructorNameWhoEndorsed === currentUser.name && currentUser.isInstructor">
                    Remove Endorsement
                  </button>
                </div>
              </div>

              <!-- More information about the tutor -->
              <div id="tutorInfo" class="collapsible-body">
                <div class="row" *ngIf="summary.averageOfAllReviewsForAllCourses">
                  <div class="column left1">
                    <b>Avg. Overall Review: </b>
                  </div>
                  <div class="column right right1" *ngIf="summary.averageOfAllReviewsForAllCourses">
                    {{summary.averageOfAllReviewsForAllCourses}}
                  </div>
                  <div class="column right right1" *ngIf="!summary.averageOfAllReviewsForAllCourses">
                    N/A
                  </div>
                </div>

                <div class="row hide-on-med-and-up" *ngIf="summary?.courseReviewSummary?.averageOfAllScoresAmongAllReviews">
                  <div class="column left left1">
                    <b>Avg. Course Review: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.courseReviewSummary.averageOfAllScoresAmongAllReviews}}
                  </div>
                </div>
                <div *ngIf="summary.tutor.hasTakenCourse && summary.tutor.grade && summary.tutor.instructor && summary.tutor.semesterTaken; else notTaken">
                  <div class="row">
                    <div class="column left left1">
                      <b>Instructor:</b>
                    </div>
                    <div class="column right right1">
                      {{summary.tutor.instructor}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="column left left1">
                      <b>Semester Taken:</b>
                    </div>
                    <div class="column right right1">
                      {{summary.tutor.semesterTaken.term}} {{summary.tutor.semesterTaken.year}}
                    </div>
                  </div>
                </div>
                <ng-template #notTaken>
                  <div class="row">
                    <div class="column left left1">
                      <b>This person has not taken the course</b>
                    </div>
                  </div>
                </ng-template>

                <div class="row" *ngIf="summary.tutor.pastExperience">
                  <div class="column left left1">
                    <b>Past Experience: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.tutor.pastExperience}}
                  </div>
                </div>
                <div class="row" *ngIf="summary.tutor.notes">
                  <div class="column left left1">
                    <b>Other Notes: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.tutor.notes}}
                  </div>
                </div>
                <div class="row" *ngIf="summary.tutor.user.major">
                  <div class="column left left1">
                    <b>Major: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.tutor.user.major}}
                  </div>
                </div>
                <div class="row" *ngIf="summary.tutor.user.bio">
                  <div class="column left left1">
                    <b>Bio: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.tutor.user.bio}}
                  </div>
                </div>
                <div class="row hide-on-med-and-up" *ngIf="summary.tutor.instructorNameWhoEndorsed">
                  <div class="column left left1">
                    <b>Endorsed by: </b>
                  </div>
                  <div class="column right right1">
                    {{summary.tutor.instructorNameWhoEndorsed | professor}}
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


