.profileImg {
  border-radius: 5%;
  padding: 0 !important;
  height: 100px !important;
  width: 100px !important;
  border: 2px solid white !important;
}

.preloader {
  padding: 0 !important;
  margin: auto !important;
  height: 100px !important;
  width: 100px !important;
}

#tutorInfo {
  text-align: left;
}

.container {
  width: 85%;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}

/* Make all descriptors such as Hourly Rate our orange color */
b {
  color: #fc7c25;
}
