<div id="logoSection" class="row">
  <div class="col s12">
    <img id="ntLogo" class="center center-block" src="assets/images/NTLogo.png">
    <div class="flow-text">
      <h1 class="center">NextdoorTutor</h1>
      <h3 class="center">Save time. Learn more. Start now.</h3>
    </div>
  </div>
</div>
<!-- END LOGO/SLOGAN -->

<!-- BEGIN WHO WE ARE SECTION -->
<div id="whoWeAreCardPanel" class="row card-panel white">
  <h2 class="center">Who We Are</h2>
  <div class="col s6">
        <span class="flow-text">
          <p class="center">
            <strong>A service for Lehigh University students to help connect tutors with tutees taking courses in the
              Computer Science and Engineering department.
              <br><br>

              Scroll down to learn how to find/become a tutor!
            </strong>
          </p>
        </span>
  </div>

  <div class="col s6">
        <span class="flow-text">
          <img class="keep-calm" src="assets/images/keep_calm_a.png" alt="keep_calm">
        </span>
  </div>
</div>
<!-- END WHO WE ARE SECTION -->

<!-- BEGIN BECOMING A TUTOR SECTION -->
<div id="becomeTutorContainer" class="container">
  <h2>Becoming a Tutor</h2>
  <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Add becoming a tutor image -->
      <img class="activator" src="assets/images/tutor-regi-img.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Tutor a Course<i
        class="material-icons right">more_vert</i></span>
      <span class="flow-text">
          <p class="pTut">It takes less than 60 seconds to become a tutor by filling out our simple form.  When a tutee is interested in your tutoring services, you will receive an email, via your Lehigh account, from that student.  You keep 100% of the money made.<br>See how easy it is to become a tutor by expanding this box.</p></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tutor a Course<i class="material-icons right">close</i></span>
      <p>The simple form tutors fill out to tutor a course.</p>
      <!-- Add image of tutor a course form -->
      <img src="assets/images/tutor-regi-img.png">
    </div>
  </div>
</div>
<!-- END BECOME A TUTOR SECTION -->

<!-- BEGIN FINDING A TUTOR SECTION -->
<div id="findTutorContainer" class="container">
  <h2 id="findTutorHeader">Finding a Tutor</h2>
  <div class="card large">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Add finding a tutor image -->
      <img class="activator" src="assets/images/office.jpg">
    </div>
    <div class="card-content">
      <span class="flow-text card-title activator grey-text text-darken-4">Viewing Tutors For A Course<i
        class="material-icons right">more_vert</i></span>
      <p class="pTut">Be able to see all available tutors before you commit to one. You can select a tutor based on
        criteria that matter to you. Once you find the perfect tutor, just click "Email Tutor" to set up a session.<br>See
        how easy it is to find a tutor by expanding this box.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Viewing Tutors For A Course<i
        class="material-icons right">close</i></span>
      <p>An example of how a student would search for a tutor.</p>
      <!-- Add image of finding a tutor search -->
      <img src="assets/images/office.jpg">
    </div>
  </div>
</div>
<!-- END FINDING TUTOR SECTION -->

<!-- MEET THE TEAM SECTION -->
<div id="teamCardPanel" class="row card-panel">
  <h2 class="center white-text">Meet the Team</h2>
  <div class="col s4">
    <span class="flow-text">
      <img class="team center-block" src="assets/images/jordan-cutler.png">
      <p class="team1">Jordan Cutler<br><span class="role">Founder</span></p>
    </span>
  </div>

  <div class="col s4">
    <span class="flow-text">
      <img class="team center-block" src="assets/images/steph-beddow.jpg">
      <p class="team1">Stephanie Beddow<br><span class="role">Lead Designer</span></p>
    </span>
  </div>

  <div class="col s4">
    <span class="flow-text">
      <img class="team center-block" src="assets/images/rob-smith.png">
      <p class="team1">Robert Smith<br><span class="role">Business Operations Lead</span></p>
    </span>
  </div>

  <div class="row">
    <div class="col s4 offset-s2">
      <span class="flow-text">
        <img class="team center-block" src="assets/images/jordan-alam.png">
        <p class="team1">Jordan Alam<br><span class="role">Backend Engineer</span></p>
      </span>
    </div>

    <div class="col s4">
      <span class="flow-text">
        <img class="team center-block" src="assets/images/kyle-berman.png">
        <p class="team1">Kyle Berman<br><span class="role">Frontend Engineer</span></p>
      </span>
    </div>
  </div>

  <p id="teamDescription" class="center">
    We are a group of Lehigh University students helping to
    connect our peers with tutoring services in the Computer Science and Engineering department at Lehigh.
  </p>
</div>
<!-- /MEET THE TEAM SECTION -->


<!-- BEGIN FOOTER -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4>NextdoorTutor</h4>
        <p id="footerSlogan" class="grey-text text-lighten-4">Save time. Learn more. Start now.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4>Links</h4>
        <ul>
          <li><a class="footer cursorPointer">Contact Us</a></li>
          <li><a class="footer cursorPointer">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
