#searchLabel {
  text-decoration-color: #767676;
}

.autocomplete-content {
  position: absolute;
}

.container {
  width: 85%;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}

