#hourlyRate::-webkit-slider-thumb {
  background-color: orange;
}
#hourlyRate::-moz-range-thumb {
  background-color: orange;
}
#hourlyRate::-ms-thumb {
  background-color: orange;
}

/***** These are to edit the thumb and the text inside the thumb *****/
#hourlyRate + .thumb {
  background-color: orange !important;
}

.input[type=range] + .thumb {
  background-color: orange !important;
}

.range-field + .thumb {
  background-color: orange !important;
}

.noUI-background {
  background: orange !important;
}

.range-label{
  background-color: orange !important;
}

#hasTakenCourseCheckboxRow, #hourlyRateRow {
  text-align: left;
}

/* Checkbox color */
#hasTakenCourseCheckbox:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  /* You need to change the colour here */
  /* And here */
  border: 2px solid transparent;
  border-right-color: orange;
  border-bottom-color: orange;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.container {
  width: 85%;
}

#course {
  display: block !important;
}

#courseLabel {
  text-align: left !important;
}
