<div class="row">
  <div class="col s12">
    <div class="z-depth-3 card white center">
      <div class="card-content z-depth-4">
        <!--
         The below example is taken from here: https://jsfiddle.net/Venugopal/e0u4sow1/1/
         Other Examples:
         http://jsfiddle.net/6Mt3Q/
         https://codepen.io/felicia/pen/qKhJt
         -->
        <div class="row">
          <div class="col s12">
            <a class="right cursorPointer" (click)="createEditBasicInfoComponent()"><i class="material-icons">edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div id="profileImageContainer" class="media center image-upload">
              <label for="profileFileUploadInput">
                <img id="profilePhoto" alt="Failed to load profile picture" class="media__image z-depth-3"
                     *ngIf="profilePhotoRoute"
                     appHttpImage [userIdUnderProfilePhoto]="user.userId" [askerId]="user.userId" #profilePhotoRef/>
                <i *ngIf="!profilePhotoRoute" class="large material-icons">account_circle</i>
                <div class="media__body cursorPointer">
                  <h6 class="mobile-hidden">Upload Profile Picture</h6>
                </div>
              </label>
              <input id="profileFileUploadInput" type="file" (change)="profilePhotoFileChange($event)" accept="image/png, image/jpeg, image/gif"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <h3 id="userName" class="card-title center">{{user.name}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <p id="userBio" class="center">
              <span *ngIf="user.bio">{{user.bio}}</span>
              <span *ngIf="!user.bio">You haven't set your bio yet!</span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.major"> {{user.major}} </span>
            <span *ngIf="!user.major"> You haven't set your major yet! </span>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.github"><i class="fa fa-github" aria-hidden="true"></i>
              <a href="{{user.github.link}}">{{user.github.link}}</a></span>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <a href="{{user.facebook.link}}">{{user.facebook.link}}</a></span>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.linkedin">
              <i class="fa fa-linkedin"></i>
              <a href="{{user.linkedin.link}}">{{user.linkedin.link}}</a></span>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.email" id="emailContact" class="center"><b>Contact:</b> {{user.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
