<div class="row">
  <div class="col s10 offset-s1">
    <div class="z-depth-3 card white center">
      <div class="card-content z-depth-4">
        <!--
         The below example is taken from here: https://jsfiddle.net/Venugopal/e0u4sow1/1/
         Other Examples:
         http://jsfiddle.net/6Mt3Q/
         https://codepen.io/felicia/pen/qKhJt
         -->
        <div class="row">
          <div class="col s12">
            <a class="right cursorPointer" (click)="createEditBasicInfoComponent()"><i class="material-icons" style="color: #fc7c25;">edit</i></a>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div id="profileImageContainer" class="media center image-upload">
              <label for="profileFileUploadInput">
                <img id="profilePhoto" alt="Failed to load profile picture" class="media__image z-depth-3"
                     *ngIf="hasProfilePhoto"
                     appProfileImage [userIdUnderProfilePhoto]="user.userId" [askerId]="user.userId" #profilePhotoRef/>
                <i *ngIf="!hasProfilePhoto" class="large material-icons">account_circle</i>
                <div class="media__body cursorPointer">
                  <h6 class="mobile-hidden">Upload Profile Picture</h6>
                </div>
              </label>
              <input id="profileFileUploadInput" type="file" (change)="profilePhotoFileChange($event)" accept="image/png, image/jpeg, image/gif"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <h3 id="userName" class="card-title center">{{user.name}}</h3>
          </div>
        </div>


        <!-- <div class="row">
          <div class="col s6 offset-s4">
            <table>
              <tr>
                <th>Email:</th>
                <td><span *ngIf="user.email" id="emailContact" class="center">{{user.email}}</span></td>
              </tr>
              <tr>
                <th>Bio:</th>
                <td><span *ngIf="user.bio">{{user.bio}}</span>
                <span *ngIf="!user.bio">You haven't set your bio yet!</span></td>
              </tr>
              <tr>
                <th>Major:</th>
                <td><span *ngIf="user.major">{{user.major}} </span>
                <span *ngIf="!user.major"> You haven't set your major yet! </span></td>
              </tr>
            </table>
          </div>
        </div>
        <br> -->

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.email" id="emailContact" class="center"><b style="color: #fc7c25;">Email:</b> {{user.email}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <p id="userBio" class="center">
              <span *ngIf="user.bio"><b style="color: #fc7c25;">Bio:</b> {{user.bio}}</span>
              <span *ngIf="!user.bio">You haven't set your bio yet!</span>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <span *ngIf="user.major"><b style="color: #fc7c25;">Major:</b> {{user.major}} </span>
            <span *ngIf="!user.major"> You haven't set your major yet! </span>
          </div>
        </div>
        <br>

        <div class="row wrapper" *ngIf="user.github?.link">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <span>
              <li><i class="fa fa-github" aria-hidden="true"></i>
              <a href="{{user.github.link}}" style="color: #fc7c25;">{{user.github.link}}</a></li>
            </span>
          </ul>
        </div>

        <div class="row wrapper" *ngIf="user.facebook?.link">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <span>
              <li><i class="fa fa-facebook" aria-hidden="true"></i>
              <a href="{{user.facebook.link}}" style="color: #fc7c25;">{{user.facebook.link}}</a></li>
            </span>
          </ul>
        </div>

        <div class="row wrapper" *ngIf="user.linkedin?.link">
          <ul class="social-icons icon-circle list-unstyled list-inline">
            <span>
              <li><i class="fa fa-linkedin"></i>
              <a href="{{user.linkedin.link}}" style="color: #fc7c25;">{{user.linkedin.link}}</a></li>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
