/* You can add global styles to this file, and also import other style files */


body {
  -webkit-text-size-adjust:100%;
  /*
  Don't listen to your IDE and "optimize". It will break it
   */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Righteous, serif;
  color: #333;
}

html, body{
  margin: 0;
  padding: 0;
}

/* labels */

/* label color */
.input-field label {
  color: #B9B9B9 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fc7c25 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fc7c25 !important;
  box-shadow: 0 1px 0 0 #fc7c25 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #fc7c25 !important;
  box-shadow: 0 1px 0 0 #fc7c25 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fc7c25 !important;
}


/* for facebook, github, & linkedin icons */
.social-icons.icon-circle.fa {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white !important;
  /*color: #FFF;
  color: rgba(255, 255, 255, 0.8);*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.0em !important;
  border-radius: 5px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  /*margin-bottom: 10px;*/
}

/* for facebook icon */
i.fa-facebook{
  background-color:#3C599F;
}

/* for github icon */
i.fa-github{
  background-color:#070709;
}

/* for linkedin icon */
i.fa-linkedin{
  background-color:#0085AE;
}


/* Radio button color */
input[type="radio"].with-gap:checked+label:after {
  background-color: #fc7c25 !important;
}
/* Change color of border since using with-gap radio button */
input[type="radio"].with-gap:checked+label:before,
input[type="radio"].with-gap:checked+label:after {
  border: 2px solid #fc7c25 !important;
}


/* Change color of dropdown options */
ul.dropdown-content.select-dropdown li span {
  color: gray;  /*no need for !important :)*/
}

/* change color of auto complete options */
.dropdown-content li>span {
  color: gray !important;
}

/* Edit slider colors */
input[type=range]::-webkit-slider-thumb {
  background-color: #fc7c25 !important;
}
input[type=range]::-moz-range-thumb {
  background-color: #fc7c25 !important;
}
input[type=range]::-ms-thumb {
  background-color: #fc7c25 !important;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
  background-color: #fc7c25 !important;
}

.input[type=range] + .thumb {
  background-color: #fc7c25 !important;
}

.range-field + .thumb {
  background-color: #fc7c25 !important;
}

.noUI-background {
  background: #fc7c25 !important;
}

.range-label{
  background-color: #fc7c25 !important;
}

/*
Makes the actual side nav brighter than everything else. Without this, the sidenav-overlay covers the sidenav for some reason and makes the whole screen dark
 */
#sidenav-overlay {
  z-index: 1 !important;
}

.nt-orange-background {
  background-color: #fc7c25 !important;
}

.nt-orange-text {
  color: #fc7c25 !important;
}

.cursorPointer {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  #toast-container {
    position: fixed !important;
    top: 20vh !important;
    bottom: 70vh !important;
    left: 35vw !important;
    right: 35vw !important;
    width: 30vw !important;
    height: 10vh !important;
  }
}

@media only screen and (max-width: 992px) {
  .mobile-hidden {
    visibility: hidden;
    display: none;
  }
}
