/* You can add global styles to this file, and also import other style files */

body {
  -webkit-text-size-adjust:100%;
  /*
  Don't listen to your IDE and "optimize". It will break it
   */
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: Righteous, serif;
  color: #333;
}

html, body{
  margin: 0;
  padding: 0;
}

/*
Makes the actual side nav brighter than everything else. Without this, the sidenav-overlay covers the sidenav for some reason and makes the whole screen dark
 */
#sidenav-overlay {
  z-index: 1 !important;
}

.our-orange-background-color {
  background-color: #fc7c25 !important;
}

.our-orange-text-color {
  color: #fc7c25 !important;
}

.cursorPointer {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  #toast-container {
    position: fixed !important;
    top: 20vh !important;
    bottom: 70vh !important;
    left: 35vw !important;
    right: 35vw !important;
    width: 30vw !important;
    height: 10vh !important;
  }
}

@media only screen and (max-width: 992px) {
  .mobile-hidden {
    visibility: hidden;
    display: none;
  }
}
