@import 'variables';

td {
  padding: 2px 4px 2px 0;
  font-family: 'Quicksand', sans-serif;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

span {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

.grade-description {
  width: 80%;
  text-align: right;
}

.colon {
  width: 1%;
}

/* Formats the entire table that displays a tutor's grades
 * Centers table vertically */
.tutor-grades {
  margin-bottom: 10px;
  margin-top: 10px;
}

.container .row {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.profileImg {
  border-radius: 5%;
  padding: 0 !important;
  height: 100px !important;
  width: 100px !important;
  border: 2px solid white !important;
}

.preloader {
  padding: 0 !important;
  margin: auto !important;
  height: 100px !important;
  width: 100px !important;
}

.tutorInfo {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 85%;
}

.overlay-container {
  position: relative;
  display: inline-block;
}

.overlay, .inner-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: $ntOrange;
  border-radius: 5%;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inner-icon:hover i {
  opacity: 0;
}

.inner-icon i {
  position: absolute;
  bottom: 2px;
  right: -15px;
  opacity: 1;
  color: $ntOrange;
  font-size: 1.8rem;
}

@media only screen and (max-width: 992px) {
  .profileImg {
    height: 75px !important;
    width: 75px !important;
  }

  .container {
    width: 100%;
  }

}

@media only screen and (max-width: 640px) {
  .tutor-name {
    text-align: left;
  }

  .btn {
    width: 80px;
    height: 34px;
    font-size: 0.7rem;
    padding: 0 0 0 0;
  }

  span {
    font-size: 0.8rem;
  }

  i.medium {
    font-size: 3rem;
  }
}

/* Make all descriptors such as Hourly Rate our orange color */
b {
  color: $ntOrange;
  padding-left: 1%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


