<div id="{{modalId}}" class="modal" materialize="modal" [materializeActions]="modalActions">
  <form (ngSubmit)="onSubmit($event)" #form="ngForm">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input
                id="subjectTextArea"
                type="text"
                materialize="characterCounter"
                data-length="100"
                maxlength="100"
                [(ngModel)]="subject"
                name="subject"
                ngModel
                required
              />
              <label for="subjectTextArea">Subject</label>
            </div>
          </div>
          <div class="row">
          <textarea
            id="messageTextArea"
            materialize="characterCounter"
            data-length="255"
            maxlength="255"
            placeholder="Your message to {{tutorName}}"
            [(ngModel)]="message"
            name="message"
            ngModel
            required
            #messageInputField
          ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        id="sendEmailButton"
        class="modal-action waves-effect waves-green btn-flat"
        type="submit"
      >Send
      </button>
    </div>
  </form>
</div>
