<div class="row">
  <div class="col s12">
    <div id="{{modalId}}" class="modal">
      <div class="modal-content">
        <h6 class="center">Scroll to zoom</h6>
        <img ng-src="imageSrc" id="{{imagePreviewId}}" alt="Image Preview" hidden/>
      </div>
      <div class="modal-footer">
        <a id="saveImageButton"
           class="modal-action modal-close waves-effect waves-green btn-flat cursorPointer"
           (click)="saveImage()"
        >Save</a>
      </div>
    </div>
  </div>
</div>
